html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  border-radius: 6px;
  text-decoration: none;
  padding: 0.5em;
}

.btn-black {
  background-color: #333;
  color: #fff;
}

.btn-grey {
  background-color: #ccc;
  color: #fff;
}

.btn-white {
  background-color: #fff;
  color: #000;
  border: solid 3px;
}

.btn-red {
  background-color: #f33;
  color: #fff;
}

.btn-small {
  padding: 1.0em;
  margin: 1.0em;
}

.btn-big {
  padding: 1.5em;
}
