html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div {
  padding: .5rem;
  text-align: center;
}

.btn {
  border-radius: 8px;
  text-decoration: none;
  padding: 0.4em 0.75em 0.3em;
  display: inline-block;
  margin: 0.5em 2em;
  font-size: 0.875rem;
  border: solid 3px;
}

.btn:hover {
  background-color: #000;
}

.btn-small {
  font-size: 1rem;
}

.btn-big {
  font-size: 1.5rem;
}

.btn-primary {
  background-color: #333;
  color: #fff;
}

.btn-subtle {
  background-color: #ccc;
  color: #fff;
}

.btn-subtle:hover {
  background-color: #666;
}

.btn-ghost {
  background-color: #fff;
  color: #666;
}

.btn-ghost:hover {
  background-color: #666;
  color: #fff;
}

.btn-warning {
  background-color: #f33;
  color: #fff;
}

.btn-warning:hover {
  background-color: #933;
}
